	html {
	font-size: 11.5px
	}

	@media screen and (min-width: 600 px) {
		#div1 {
		font-size: 30px;
		}
	}
	
	body {
	background-color: bisque;
	}
	
	a {
		color:slategray;
	}
	
	a:visited {
		color:lightgray;
	}
	
	a:hover, a:active {
		color: red;
	}
	

	
